{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="card-container">
        {% for auction in auctions %}
        
        <div class="auction-card">
        {% if auction.auction.image_url != "" %}
        <img class="card-image" src="{{auction.auction.image_url}}" alt="" />
        {% else %}
        <img class="card-image" src="{{auction.auction.image.url}}" alt="" />
        {% endif %}
            <div class="card-content">
            <div class="card-atitle">{{ auction.auction.item_name }}</div> <br>
            <div class="card-adesc"><em>{{ auction.auction.item_description }}</em> <br><br>
                Starting Price: ${{ auction.auction.starting_price }} <br>
                {% if auction.auction.bids.last.bid_amount %}
                Current Bid: ${{ auction.auction.bids.last.bid_amount }}
                {% else %}
                Current Bid: No Bid
                 {% endif %} </div> 
                <form action="/auction/{{ auction.auction.pk }}">
                <button class="auc-btn" type="submit">Go To Auction</button>
                </form>
            </div>
        </div>
        {% endfor %}
        </div>

{% endblock %}